* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(16, 19, 13, 1);
    display: flex;
    color: rgba(226, 226, 226, 1);
    justify-content: space-between;
    height: 90px;
}

.sub-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-items {
    display: flex;

}

.nav-item {
    padding: 10px;
}
