header {
    background-color: rgba(16, 19, 13, 1);
    display: flex;
    color: rgba(226, 226, 226, 1);
    justify-content: space-between;
    height: 90px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.15em;
}

header a {
    text-decoration: none;
}

.sub-header {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-items {
    display: flex;
    gap: 10px;
    margin-right: 40px;
}

.nav-item {
    padding: 10px;
    font-weight: 700;

    color: #E2E2E2;
}

.nav-white-button {
    position: relative;
    overflow: hidden;
    width: 265px;
    height: 90px;
}

.nav-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 265px;
    height: 90px;
}

.white-button {
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    z-index: 2;
}

.grey-button {
    background-color: #ccc;
    z-index: 1;
}

.nav-white-button:hover .white-button {
    transition: all 0.5s ease-in-out;
    left: 265px
}

.nav-white {
    position: absolute;
    padding: 33px 25px;
    top: 0;
    left: 0;
    z-index: 3;

    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.15em;

    color: #000000;
}

.banner-photo {
    display: block;
    width: 100%;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.template-grid > * {
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}


.article {
    background: #10130D;

    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
}

.slogan {
    grid-column: 1/10;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15em;

    color: #E2E2E2;
}

.button {
    grid-column: 10/13;

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15em;

    color: #10130D;
    background-color: #FFF;
    height: 90px;
}

.main-body {
    background: linear-gradient(180deg, #FAFAFA -14.44%, #EEEEEE 107.89%);
    padding-bottom: 40px;
}

.about-us-inner {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.about-us-inner.left {
    grid-column: 1/7;
    text-align: left;
    align-items: start;
}

.about-us-inner.right {
    grid-column: 7/13;
    align-items: center;
    position: relative;
    gap: 15px;
}

.about-us-header {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
    margin-top: 40px;
}

.content {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;

    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #474747;

    margin: 11px 0;
}

.content span {
    font-weight: 800;
 }

.big-circle {
    width: 892px;
    height: 892px;

    background: #EAEAEA;
    border-radius: 50%;
    position: absolute;
}

.our-team-header-container {
    justify-items: start;
    margin-top: 30px;
}

.our-team-header {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;

    grid-column: span 12;
}

.our-team-member {
    grid-column: span 3;
    position: relative;
    height: 295px;
    overflow: hidden;
}

.team-member-photo {
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.team-member-desc {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    background-color: #fff;
    padding: 15px;
}

.our-team-member:hover .team-member-photo {
    top: -122px;
    transition: all 0.5s ease-in-out;
}

.desc {
    text-align: left;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    color: #000000;
}

.quote {
    font-weight: 500;
}

.xp span {
    font-weight: 400;
}

.job-position {
    font-family: 'Montserrat', serif;
    font-size: 18px;
    line-height: 22px;
}

.portfolio {
    background-color: #10130D;
}

.portfolio-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #E2E2E2;

    padding: 40px 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.portfolio-item {
    border: 5px solid #10130D;
    position: relative;
}

.portfolio-item img {
    width: 100%;
}
.portfolio-desc {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 40px;
    transition: all 0.5s ease-in-out;
}



.button-watch {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15em;
    color: #10130D;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 70px;
    padding: 32px 0;
}

.portfolio-item:hover .portfolio-desc {
    transition: all 0.5s ease-in-out;
    opacity: 1;
}